@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;400;500&display=swap");

*,
:after,
:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Overpass, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.bg-black {
    background-color: #000000;
}

.container {
    padding: 1% 8%; /* Adjust padding as needed */
    margin: 0 auto;
}

.text-white {
    color: white;
}

.text-gray {
    color: #686868;
}

.text-aqua {
    color: #28c0f1;
}

.font-400 {
    font-weight: 400;
}

.font-700 {
    font-weight: 700;
}

.custom-link {
    text-decoration: none;
    color: inherit;
}
.no-border {
    border: none;
    outline: none; /* Để ẩn viền khi ô input được focus */
    box-shadow: none; /* Để tránh các box-shadow có thể có */
}
.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.between {
    justify-content: space-between;
}

.c-pointer {
    cursor: pointer;
}

.icon-wrapper {
    font-size: 25px; /* Adjust icon size as needed */
    margin: 0 20px;
}

.social-icon {
    font-size: 25px; /* Adjust Twitter icon size as needed */
}

.avatar-icon {
    font-size: 34px; /* Adjust avatar icon size as needed */
}


/*banner home page*/
.banner-container {
    position: relative;
    width: 100%;
    height: 12vh; /* chiều cao 100% của viewport */
    overflow: hidden; /* Ẩn phần thừa nếu có */
}

.banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto; /* Chiều cao tự động điều chỉnh theo chiều rộng */
}

.show-1024 {
    display: none;
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1024px) {
    .d-none-1024 {
        display: none;
    }

    .show-1024 {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    .d-none-767 {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .d-none-480 {
        display: none;
    }
}