@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;400;500&display=swap");

*,
:after,
:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Overpass, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.bg-black {
    background-color: #000000;
}

.bg-aqua {
    background: #a5def1;
}

.bg-gray {
    background: #e2e2e2;
}

.bg-pop {
    background: #27817e;
}

.bg-bid {
    background: #4a9ac5;
}

.bg-bid:hover {
    background: #68a9c3;
}

.container {
    padding: 1% 8%; /* Adjust padding as needed */
    margin: 0 auto;
}

.text-white {
    color: white;
}

.text-gray {
    color: #686868;
}

.text-aqua {
    color: #28c0f1;
}

.font-400 {
    font-weight: 400;
}

.font-700 {
    font-weight: 700;
}

.transition {
    transition: background-color 0.5s ease, color 0.5s ease;
}

.bg-hover:hover {
    background: #2c2c2c;
}

.iekbcc0 .ju367vf0 .ju367v16 .ju367v19 .ju367v1h .ju367v2v {
    color: #a1a1a1;
}

.custom-link {
    text-decoration: none;
    color: inherit;
}

.custom-link:hover {
    text-decoration: none;
    color: inherit;
}

.no-border {
    border: none;
    outline: none; /* Để ẩn viền khi ô input được focus */
    box-shadow: none; /* Để tránh các box-shadow có thể có */
}

.button-allPop {
    border-bottom: 5px solid #ccc;
    padding: 20px 100px;

}

.button-buyBox {
    padding: 10px 150px;
    font-size: 20px;
    margin: 20px 0;
}

.flex {
    display: flex;
}

.flex-bt-allPop {
    display: flex;
}

.flex-buyBox {
    display: flex;
}

.w-video-buyBox {
    width: 700px;
}

.align-center {
    align-items: center;
}

.between {
    justify-content: space-between;
}

.c-pointer {
    cursor: pointer;
}

.margin-auto {
    margin: 0 auto;
}

.vertical-hr {
    border: 1px solid #efefef;
    margin: 0 8%;
}

.icon-wrapper {
    font-size: 25px; /* Adjust icon size as needed */
    margin: 0 20px;
}

.social-icon {
    font-size: 25px; /* Adjust Twitter icon size as needed */
}

.avatar-icon {
    font-size: 34px; /* Adjust avatar icon size as needed */
}


/*banner home page*/
.banner-container {
    position: relative;
    width: 100%;
    height: 12vh; /* chiều cao 100% của viewport */
    overflow: hidden; /* Ẩn phần thừa nếu có */
}

.banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto; /* Chiều cao tự động điều chỉnh theo chiều rộng */
}

.show-1024 {
    display: none;
}

.pop-wrap {
    margin: 0 20px;
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1024px) {
    .d-none-1024 {
        display: none;
    }

    .show-1024 {
        display: block;
    }

    .flex-buyBox {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    .d-none-767 {
        display: none;
    }

    .flex-bt-allPop {
        display: block;
    }

    .margin-767 {
        margin-bottom: 20px;
    }

    .w-video-buyBox {
        width: 500px;
    }
    .pop-wrap {
        margin: 0;
    }
}

@media only screen and (max-width: 480px) {
    .d-none-480 {
        display: none;
    }
}